In [3]:
import glob

import pandas as pd

In [37]:
info_df = pd.DataFrame()
for fname in glob.glob("downloads/ig_db/info*.csv")[:20]:
    df = pd.read_csv(fname, index_col=0)
    df["Isotope"] = fname.split("/")[-1].split("_")[1].split(".")[0]
    info_df = info_df.append(df)
info_df.head()
old_cols = info_df.columns.tolist()
#print(info_df.columns.tolist())
info_df = info_df.set_index("Isotope", drop=True)
first_cols = ["Half-life [s]", "Stable", "Prod_mode_Photon reaction", "Prod_mode_Fast neutron activation"]
new_cols = first_cols + list(set(old_cols) - set(first_cols))
info_df = info_df[new_cols]

[]

KeyError: "None of [Index(['Isotope', 'Half-life [s]', 'Stable', 'Prod_mode_Photon reaction',\n       'Prod_mode_Fast neutron activation'],\n      dtype='object')] are in the [columns]"

In [26]:
info_df[(info_df["Half-life [s]"].isna()) & (info_df["Stable"] == False)]

,Isotope,Half-life [s],Stable,Prod_mode_Photon reaction,Prod_mode_Fast neutron activation,E(level),sigm_Sp(keV),Sn(keV),Prod_mode_Charged particle reaction,sigm_Half-life [s],...,References since cut-off,Sp(keV),Prod_mode_Thermal neutron activation,Prod_mode_Fission product,Jp,ENSDF citation,sigm_Sn(keV),sigm_E(level),Literature cut-off date,Author(s)
0,173Pt,NaN,False,NaN,NaN,NaN,NaN,8890.0,NaN,NaN,...,173Pt decay from 1993-98 (NSR),1800.0,NaN,NaN,NaN,"NDS 75,377 (1995)",110,NaN,1993-10-01,V.S. Shirley
0,82Nb,NaN,False,NaN,NaN,NaN,sy,13600.0,NaN,NaN,...,82Nb decay from 1997-98 (NSR),1400.0,NaN,NaN,NaN,NaN,sy,NaN,NaN,NaN
0,84Ge,NaN,False,NaN,NaN,NaN,NaN,5500.0,NaN,NaN,...,84Ge decay from 1997-98 (NSR),16200.0,NaN,True,0+,"NDS 81, 331 (1997)",sy,NaN,1997-04-22,J.K. Tuli
0,78Cu,NaN,False,NaN,NaN,NaN,NaN,3500.0,NaN,NaN,...,78Cu decay from 1997-98 (NSR),14800.0,NaN,NaN,NaN,NaN,sy,NaN,NaN,NaN
0,97Rb,NaN,False,NaN,NaN,NaN,NaN,5222.0,NaN,NaN,...,97Rb decay from 1993-98 (NSR),12600.0,NaN,True,3/2(+),"NDS 70,85 (1993)",30,NaN,1993-07-01,A. Artna-Cohen
0,67Mn,NaN,False,NaN,NaN,NaN,NaN,5300.0,NaN,NaN,...,67Mn decay from 1997-98 (NSR),NaN,NaN,NaN,NaN,NaN,sy,NaN,NaN,NaN
0,98In,NaN,False,NaN,NaN,NaN,sy,NaN,NaN,NaN,...,98In decay from 1998-98 (NSR),5.0,NaN,NaN,NaN,"NDS 84, 565 (1998)",NaN,NaN,1998-06-12,B. Singh
0,142I,NaN,False,NaN,NaN,NaN,sy,3100.0,NaN,NaN,...,142I decay from 1997-98 (NSR),11200.0,NaN,NaN,NaN,NaN,sy,NaN,NaN,NaN
0,34K,NaN,False,NaN,NaN,NaN,sy,16300.0,NaN,NaN,...,34K decay from 1997-98 (NSR),NaN,NaN,NaN,NaN,NaN,sy,NaN,NaN,NaN

In [29]:
info_df.index_col="Isotope"
info_df.head()

,Isotope,Half-life [s],Stable,Prod_mode_Photon reaction,Prod_mode_Fast neutron activation,E(level),sigm_Sp(keV),Sn(keV),Prod_mode_Charged particle reaction,sigm_Half-life [s],...,References since cut-off,Sp(keV),Prod_mode_Thermal neutron activation,Prod_mode_Fission product,Jp,ENSDF citation,sigm_Sn(keV),sigm_E(level),Literature cut-off date,Author(s)
0,74As,1535328.00,False,True,True,NaN,NaN,7975.0,NaN,1728.00,...,74As decay from 1994-98 (NSR),6851.4,NaN,NaN,2-,"NDS 74,529 (1995)",4,NaN,1994-05-01,A.R. Farhan
0,111Te,19.30,False,NaN,NaN,NaN,NaN,9270.0,NaN,0.40,...,111Te decay from 1997-98 (NSR),3230.0,NaN,NaN,(5/2+),"NDS 77,299 (1996)",89,NaN,1995-10-01,J. Blachot
0,127mIn,3.67,False,NaN,NaN,46271k,NaN,7252.0,NaN,0.04,...,127In decay from 1993-98 (NSR),11956.0,NaN,NaN,(1/2-),"NDS 77,1 (1996)",57,71.0,1993-10-01,K. Kitao and M. Oshima
0,173Pt,NaN,False,NaN,NaN,NaN,NaN,8890.0,NaN,NaN,...,173Pt decay from 1993-98 (NSR),1800.0,NaN,NaN,NaN,"NDS 75,377 (1995)",110,NaN,1993-10-01,V.S. Shirley
0,98Zr,30.70,False,NaN,NaN,NaN,NaN,6399.0,NaN,0.40,...,98Zr decay from 1998-98 (NSR),12305.0,NaN,True,0+,"NDS 84, 565 (1998)",20,NaN,1998-06-12,B. Singh

In [ ]:
df.to_parquet("ig_db/info_all.pqt")